body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background: #FF7F00;
}

.nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #A01300;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav a {
    display: block;
    color: #FFF;
    padding: 16px;
    text-decoration: none;
}

.nav a.active {
    background-color: #4CAF50;
    color: white;
}

.nav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
    min-height: 100vh;
}

@media screen and (max-width: 700px) {
    .nav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .nav a {float: left;}
    main {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .nav a {
        text-align: center;
        float: none;
    }
}

.container {
    margin-bottom: 40px;
}

.song {
    background: #F84828;
    color: white;
    padding: 15px 20px;
    font-size: 14pt;
    margin: 10px 0;
    border-radius: 8px;
}

.song p {
    margin: 0;
}

.song-link {
    text-decoration: none;
}

.song-form {
    background: #ff5333;
    color: #FFF;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.form-field {
    background: #555555;
    padding: 15px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.form-field p {
    margin: 0;
    font-size: 18pt;
    margin-bottom: 10px;
}

.form-field > label {
    display: block;
    margin-top: 5px;
}

.form-field input,
.form-field select {
    margin: 5px 0;
    padding: 5px;
    font-size: 14pt;
    border-radius: 4px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.form-field input[type="number"] {
    width: 60px;
}

h1 .song-id {
    color: #4a4a4a;
}

.song .song-id {
    color: #a01300;
}

.form-field-indent {
    margin-left: 20px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.checkbox input[type="checkbox"] {
    margin: 0;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.message {
    background: #2c862f;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border-radius: 6px;
}

.message-error {
    background: #b92222;
}

.save-song {
    font-size: 22pt;
    width: 140px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.save-song:hover {
    background-color: #45a049;
}

.delete-song button {
    float: right;
    margin-top: -25px;
    font-size: 12pt;
}

.side-button {
    float: right;
    background: green;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 6px;
}
